<div class="card">
  <div class="card-header">
    <img alt="Company logo with a purple and blue shield-like design" height="50" src="/assets/Logo.svg" />
    <p class="mb-0">Welcome Back</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Login to RMR</h5>
  
    <p >
      Log in to your account to review your points balance, discover new rewards, and update your preferences.
    </p>
   
    <form
      
      [formGroup]="loginForm"
      (ngSubmit)="onLoginSubmit()"
    >
      <div class="mb-3">
        <label class="form-label" for="login-mobile">Mobile <span class="text-danger">*</span></label>
        <input formControlName="mobile" class="form-control" id="login-mobile" type="text" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="login-password">Password <span class="text-danger">*</span></label>
        <input formControlName="password" class="form-control" id="login-password" type="password" />
      </div>
      <button class="btn btn-primary w-100" type="submit">Login</button>
    </form>
    <p class="text-center mt-3">
      Don't have an account?
      <a  routerLink="/register">
        Register
      </a>
    </p>
  </div>
</div>
